@(stats: Map[String, Integer], shipDistribution: List[models.vo.ShipDistribution])
@script = {
    <script type="text/javascript" src="@routes.Assets.versioned("js/echart/green.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/echart/echarts-all.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/moment/moment.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/chartjs/Chart.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/amchart/amcharts.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/amchart/pie.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/amchart/light.js")"></script>



    <script type="text/javascript">
    var chart = AmCharts.makeChart("chartdiv", {
          "type": "pie",
          "startDuration": 0,
           "theme": "light",
          "addClassNames": true,
          "legend":{
            "position":"right",
            "marginRight":100,
            "autoMargins":false
          },
          "innerRadius": "30%",
          "defs": {
            "filter": [{
              "id": "shadow",
              "width": "200%",
              "height": "200%",
              "feOffset": {
                "result": "offOut",
                "in": "SourceAlpha",
                "dx": 0,
                "dy": 0
              },
              "feGaussianBlur": {
                "result": "blurOut",
                "in": "offOut",
                "stdDeviation": 5
              },
              "feBlend": {
                "in": "SourceGraphic",
                "in2": "blurOut",
                "mode": "normal"
              }
            }]
          },
          "dataProvider": [
                @for(s <- shipDistribution) {
                                    {
                                    "ship": '@s.name.trim',
                                    "value": @s.amount
                                    },

                        }
          ],
          "valueField": "value",
          "titleField": "ship",
          "export": {
            "enabled": true
          }
        });

        chart.addListener("init", handleInit);

        chart.addListener("rollOverSlice", function(e) {
          handleRollOver(e);
        });

        function handleInit(){
          chart.legend.addListener("rollOverItem", handleRollOver);
        }

        function handleRollOver(e){
          var wedge = e.dataItem.wedge.node;
          wedge.parentNode.appendChild(wedge);
        }

    </script>
}


@main(Messages("dashboard"), script) {


    <div class="row ">
        <div class="col-md-12">
            <div class="  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <a href="@controllers.routes.InventoryController.index()">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <div class="count">@stats.get("inventory")</div>

                        <h3>@Messages("inventory")</h3>
                    </a>
                </div>
            </div>

            <div class="  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <a href="@controllers.routes.ProductController.index()">
                        <div class="icon"><i class="fa fa-cubes"></i></div>
                        <div class="count">@stats.get("product")</div>

                        <h3>@if(stats.get("product") > 1) {
                            @Messages("products")
                        } else {
                            @Messages("product")
                        }</h3>
                    </a>
                </div>
            </div>
            <div class="  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <a href="@controllers.routes.ShipController.index()">
                        <div class="icon"><i class="fa fa-ship"></i></div>
                        <div class="count">@stats.get("ship")</div>

                        <h3>@Messages("ships")</h3>
                    </a>
                </div>
            </div>

            <div class="  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <a href="@controllers.routes.LocationController.index()">
                        <div class="icon"><i class="fa fa-map"></i></div>
                        <div class="count">@stats.get("location")</div>

                        <h3>@Messages("location")</h3>
                    </a>
                </div>
            </div>

            <div class="  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <a href="@controllers.routes.UserController.index()">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <div class="count">@stats.get("user")</div>

                        <h3>@Messages("users")</h3>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="x_panel" style="">
                <div class="x_title">
                    <h2>Product Ship Distribution</h2>
                    <div class="clearfix"></div>
                </div>

                <div id="chartdiv"></div>

            </div>

        </div>

    </div>
}