@(createForm:Form[models.Product],ships:List[models.Ship])

@import helper._
@import play.api.data.Form

@implicitField = @{
    FieldConstructor(bootstrapInut.render)
}

@script= {
    <script type="text/javascript"></script>
}


@main(Messages("createProduct"), script) {


    @helper.form(controllers.routes.ProductController.save(), 'class -> "form-horizontal", 'role -> "form") {

        @inputText(
            createForm("description"),
            '_label -> Messages("description"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @inputText(
            createForm("serialNumber"),
            '_label -> Messages("serialNumber"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @select(
            createForm("ship.id"),

            options = ships.map(s=>s.id.toString->s.description),
            'class -> "form-control form-control-square",
            '_label -> "Ship"
        )

@*
        @inputText(
            createForm("quantity"),
            '_label -> Messages("quantity"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )
*@


        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">@Messages("submit")</button>
            </div>
        </div>
    }
}