@(editForm:Form[models.Product],ships:List[models.Ship])

@import helper._
@import play.api.data.Form

@implicitField = @{
    FieldConstructor(bootstrapInut.render)
}

@script= {
    <script type="text/javascript"></script>
}


@main(Messages("editProduct"), script) {


    @helper.form(controllers.routes.ProductController.update(), 'class -> "form-horizontal", 'role -> "form") {

        @inputText(
            editForm("id"),
            'type->"hidden",
            'hideIt->true,
            '_label -> Messages("id"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )
        @inputText(
            editForm("description"),
            '_label -> Messages("description"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @inputText(
            editForm("serialNumber"),
            '_label -> Messages("serialNumber"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @select(
            editForm("ship.id"),

            options = ships.map(s=>s.id.toString->s.description),
            'class -> "form-control form-control-square",
            '_label -> "Ship"
        )

        @*
        @inputText(
        editForm("quantity"),
        '_label -> Messages("quantity"),
        'class -> "form-control col-md-7 col-xs-12",
        'required -> ""
        )
        *@


        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">@Messages("submit")</button>
            </div>
        </div>
    }
}@()