@(createForm:Form[models.User], userRoles:Array[models.Role])

@import helper._
@import play.api.data.Form

@implicitField = @{
    FieldConstructor(bootstrapInut.render)
}

@script= { 
    <script type="text/javascript">
        $(document).ready(function(){
            @if(createForm.hasGlobalErrors) {
                bootbox.alert('@createForm.globalError.message ');
            }
        });

        </script>
}


@main(Messages("newUser"), script) {


    @helper.form(controllers.routes.UserController.save(), 'class -> "form-horizontal", 'role -> "form") {

        @inputText(
            createForm("username"),
            '_label -> Messages("username"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @inputText(
            createForm("clearPassword"),
            '_label -> Messages("password"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )



        @select(
            createForm("role"),
            options = userRoles.filter(r=>r.ne(Role.SUPER_ADMIN)).map(role=>role.name()->role.name()),
            '_label -> Messages("role"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )


        @inputText(
            createForm("firstName"),
            '_label -> Messages("firstName"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @inputText(
            createForm("middleName"),
            '_label -> Messages("middleName"),
            'class -> "form-control col-md-7 col-xs-12"
        )

        @inputText(
            createForm("lastName"),
            '_label -> Messages("lastName"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )


        @inputText(
            createForm("staffNumber"),
            '_label -> Messages("staffNumber"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">@Messages("submit")</button>
            </div>
        </div>
    }
}