@(editForm:Form[models.User], userRoles:Array[models.Role])

@import helper._
@import play.api.data.Form

@implicitField = @{
    FieldConstructor(bootstrapInut.render)
}

@script= {
    <script type="text/javascript">
        $(document).ready(function(){
            @if(editForm.hasGlobalErrors) {
                bootbox.alert('@editForm.globalError.message ');
            }
        });

        </script>
}


@main(Messages("editUser"), script) {


    @helper.form(controllers.routes.UserController.update(), 'class -> "form-horizontal", 'role -> "form") {

        @inputText(
            editForm("id"),
            '_label -> Messages("id"),
            'type->"hidden",
            'hideIt->true,
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )
        @inputText(
            editForm("username"),
            '_label -> Messages("username"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @select(
            editForm("role"),
            options = userRoles.filter(r=>r.ne(Role.SUPER_ADMIN)).map(role=>role.name()->role.name()),
            '_label -> Messages("role"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )


        @inputText(
            editForm("firstName"),
            '_label -> Messages("firstName"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @inputText(
            editForm("middleName"),
            '_label -> Messages("middleName"),
            'class -> "form-control col-md-7 col-xs-12"
        )

        @inputText(
            editForm("lastName"),
            '_label -> Messages("lastName"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )


        @inputText(
            editForm("staffNumber"),
            '_label -> Messages("staffNumber"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )


        @inputText(
            editForm("clearPassword"),
            '_label -> Messages("password"),
            'class -> "form-control col-md-7 col-xs-12"
        )

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">@Messages("submit")</button>
            </div>
        </div>
    }
}