@(createForm:Form[models.Location])

@import helper._
@import play.api.data.Form

@implicitField = @{
    FieldConstructor(bootstrapInut.render)
}

@script= {
    <script type="text/javascript"></script>
}


@main(Messages("editLocation"), script) {


    @helper.form(controllers.routes.LocationController.update(), 'class -> "form-horizontal", 'role -> "form") {

        @inputText(
            createForm("id"),
            'type->"hidden",
            'hideIt->true,
            '_label -> Messages("id"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @inputText(
            createForm("coordinates"),
            '_label -> Messages("name"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )


        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">@Messages("submit")</button>
            </div>
        </div>
    }
}