@()

    @script = {

        <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>

        <!-- chart js -->
        <!-- bootstrap progress js -->
        <script src="@routes.Assets.versioned("js/progressbar/bootstrap-progressbar.min.js")"></script>
        <script src="@routes.Assets.versioned("js/nicescroll/jquery.nicescroll.min.js")"></script>
        <!-- icheck -->
        <script src="@routes.Assets.versioned("js/icheck/icheck.min.js")"></script>



        <!-- Datatables -->
        <script src="@routes.Assets.versioned("js/datatables/new/js/jquery.dataTables.js")"></script>
        <script src="@routes.Assets.versioned("js/datatables/tools/js/dataTables.tableTools.js")"></script>
        <script src="@routes.Assets.versioned("js/datatables/new/js/dataTables.bootstrap.js")"></script>

        <!-- pace -->
        <script src="@routes.Assets.versioned("js/pace/pace.min.js")"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            $(document).ready(function () {
                var oTable = $('#example').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@routes.LocationController.search()",
                    "order": [[ 1, "asc" ]],

                                        "columnDefs": [
            {

                "render": function ( data, type, row ) {
                    return "<a class = 'btn btn-dark btn-xs' href =@routes.LocationController.edit(0).toString.replace("0","")" +row[1]+ "><i class='fa fa-pencil'></i> Edit</a>".concat(
                    "<a class = 'btn btn-dark btn-xs' href =@routes.LocationController.view(0).toString.replace("0","")" +row[1]+ "><i class='fa fa-folder'></i> View</a>"
                    );
                },
                "targets": 1
            }
            ,{ "width": "80%",  "targets": [ 0 ] }
        ]
                });

            });
                </script>
    }

    @main(Messages("locations"), script) {
        <a href="@routes.LocationController.create()" class="btn btn-dark"><i class="fa fa-plus"></i> Add</a>

        <table id="example" class="table table-striped responsive-utilities jambo_table">
            <thead>
                <tr class="headings">
                    <th>Name</th>
                    <th class=" no-link last"><span class="nobr">Action</span></th>
                </tr>
            </thead>


            <tbody>

            </tbody>
        </table>

    }