@(location:models.Location)

@script = {

    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>

    <!-- chart js -->
    <!-- bootstrap progress js -->
    <script src="@routes.Assets.versioned("js/progressbar/bootstrap-progressbar.min.js")"></script>
    <script src="@routes.Assets.versioned("js/nicescroll/jquery.nicescroll.min.js")"></script>
    <!-- icheck -->
    <script src="@routes.Assets.versioned("js/icheck/icheck.min.js")"></script>



    <!-- Datatables -->
    <script src="@routes.Assets.versioned("js/datatables/new/js/jquery.dataTables.js")"></script>
    <script src="@routes.Assets.versioned("js/datatables/new/js/jquery.dataTables.yadcf.js")"></script>
    <script src="@routes.Assets.versioned("js/datatables/tools/js/dataTables.tableTools.js")"></script>
    <script src="@routes.Assets.versioned("js/datatables/new/js/dataTables.bootstrap.js")"></script>

    <!-- pace -->
    <script src="@routes.Assets.versioned("js/pace/pace.min.js")"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example').dataTable( {
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@routes.LocationController.inventoryByLocation(location.id)",
"order": [[ 5, "asc" ]],
                    "columnDefs": [
            {

                "render": function ( data, type, row ) {
                    return "<a class = 'btn btn-dark btn-xs' href =@routes.InventoryController.edit(0).toString.replace("0","")" +row[5]+ "><i class='fa fa-pencil'></i> Edit</a>";
                },
                "targets": 5
            }
            //,{ "visible": false,  "targets": [ 3 ] }
        ]
                } ).yadcf([
		{column_number : 0,  filter_type: "text"},
	    {column_number : 1,  filter_type: "text"},
	    {column_number : 2, filter_type: "text"},
	    {column_number : 3, filter_type: "text"},
	    {column_number : 4, filter_type: "text"}]);

	    $(".yadcf-filter").each( function( index, el ) {
    $( el ).addClass( "form-control" );
    $( el ).addClass( "myyacdf-text" );
});

	    $(".yadcf-filter-reset-button").each( function( index, el ) {
    $( el ).addClass( "btn btn-danger" );
    $( el ).addClass( "myyacdf-btn" );
});

$("#example_filter").hide();

                });
                </script>
}


@main("View ".concat(Option(location.coordinates).getOrElse("")), script) {



    <table id="example" class="table table-striped responsive-utilities jambo_table">
        <thead>
            <tr class="headings">

                <th>Product Description</th>
                <th>Product Serial</th>
                <th>Location</th>
                <th>Ship</th>
                <th>Quantity</th>
                <th class=" no-link last"><span class="nobr">Action</span>
                </th>
            </tr>
        </thead>


        <tbody>

        </tbody>
    </table>
}