@(createForm: Form[models.Inventory], ships: List[models.Ship], locations: List[models.Location], products: List[models.Product])

@import helper._
@import play.api.data.Form

@implicitField = @{
    FieldConstructor(bootstrapInut.render)
}

@script = {
    <script type="text/javascript"></script>
}


@main(Messages("newInventory"), script) {


    @helper.form(controllers.routes.InventoryController.save(), 'class -> "form-horizontal", 'role -> "form") {

        @select(
            createForm("product.id"),
            options = products.map(p => p.id.toString -> Option(p.description).getOrElse("").concat("/").concat(Option(p.serialNumber).getOrElse(""))),
            '_label -> Messages("product"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @select(
            createForm("location.id"),
            options = locations.map(l => l.id.toString -> Option(l.coordinates).getOrElse("")),
            '_label -> Messages("location"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @inputText(
            createForm("quantity"),
            'type -> "number",
            '_label -> Messages("quantity"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )




        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">@Messages("submit")</button>
            </div>
        </div>
    }
}