@(inventories:List[models.Inventory])

@script={

    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>

    <!-- chart js -->
    <!-- bootstrap progress js -->
    <script src="@routes.Assets.versioned("js/progressbar/bootstrap-progressbar.min.js")"></script>
    <script src="@routes.Assets.versioned("js/nicescroll/jquery.nicescroll.min.js")"></script>
    <!-- icheck -->
    <script src="@routes.Assets.versioned("js/icheck/icheck.min.js")"></script>



    <!-- Datatables -->
    <script src="@routes.Assets.versioned("js/datatables/js/jquery.dataTables.js")"></script>
    <script src="@routes.Assets.versioned("js/datatables/tools/js/dataTables.tableTools.js")"></script>

    <!-- pace -->
    <script src="@routes.Assets.versioned("js/pace/pace.min.js")"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
            ],
                    'iDisplayLength': 12,
                    "sPaginationType": "full_numbers",
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        //"sSwfPath": "<?php echo base_url('assets2/js/Datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                    }
                });

                });
                </script>
}

@main(Messages("inventories"),script){
    <a href="@routes.InventoryController.create()" class="btn btn-dark"><i class="fa fa-plus"></i> Add</a>

        <table id="example" class="table table-striped responsive-utilities jambo_table">
            <thead>
                <tr class="headings">

                    <th>Product Description</th>
                    <th>Product Serial</th>
                    <th>Location</th>
                    <th>Ship</th>
                    <th>Quantity</th>
                    <th class=" no-link last"><span class="nobr">Action</span>
                    </th>
                </tr>
            </thead>


            <tbody>
                @for(u<-inventories){
                    <tr>

                        <td>@Option(Option(u.product).getOrElse(new Product()).description).getOrElse("")</td>
                        <td>@Option(Option(u.product).getOrElse(new Product()).serialNumber).getOrElse("")</td>
                        <td>@Option(Option(u.location).getOrElse(new Location()).coordinates).getOrElse("")</td>
                        <td>@if(u.product !=null && u.product.ship!=null){
                            @u.product.ship.description
                        }else{
                            &nbsp;
                        }</td>
                        <td>@Option(u.quantity).getOrElse(0)</td>
                        <td>
                            <a href="@controllers.routes.InventoryController.edit(u.id)" class="btn btn-dark">Edit</a>
                            <a href="@controllers.routes.InventoryController.view(u.id)" class="btn btn-dark">View</a>
                        </td>
                    </tr>
                }
    </tbody>
    </table>

}