@(uri:String)
@main(("Not Found")) {

    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <p class="">
                    <strong>
                        The requested URL <em>@uri</em> was not found
                    </strong>
                </p>
                <img src='@routes.Assets.versioned("assets/images/404.png")' title="Page Not Found"/>
            </div>


        </div>
    </div>


}