@(editForm:Form[models.Ship])

@import helper._
@import play.api.data.Form

@implicitField = @{
    FieldConstructor(bootstrapInut.render)
}

@script= {
    <script type="text/javascript"></script>
}


@main(Messages("editShip"), script) {


    @helper.form(controllers.routes.ShipController.update(), 'class -> "form-horizontal", 'role -> "form") {

        @inputText(
            editForm("id"),
            '_label -> Messages("id"),
            'type->"hidden",
            'hideIt->true,
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )
        @inputText(
            editForm("description"),
            '_label -> Messages("name"),
            'class -> "form-control col-md-7 col-xs-12",
            'required -> ""
        )

        @inputText(
            editForm("serialNumber"),
            '_label -> Messages("serialNumber"),
            'class -> "form-control col-md-7 col-xs-12"
        )

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">@Messages("submit")</button>
            </div>
        </div>
    }
}