@(ship:models.Ship, counts: Array[Int])

@script = {

    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>

    <!-- chart js -->
    <!-- bootstrap progress js -->
    <script src="@routes.Assets.versioned("js/progressbar/bootstrap-progressbar.min.js")"></script>
    <script src="@routes.Assets.versioned("js/nicescroll/jquery.nicescroll.min.js")"></script>
    <!-- icheck -->
    <script src="@routes.Assets.versioned("js/icheck/icheck.min.js")"></script>

    <!-- Datatables -->
    <script src="@routes.Assets.versioned("js/datatables/new/js/jquery.dataTables.js")"></script>
    <script src="@routes.Assets.versioned("js/datatables/tools/js/dataTables.tableTools.js")"></script>
    <script src="@routes.Assets.versioned("js/datatables/new/js/dataTables.bootstrap.js")"></script>

    <!-- pace -->
    <script src="@routes.Assets.versioned("js/pace/pace.min.js")"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example').dataTable( {
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@routes.ShipController.search(ship.id)",
"order": [[ 5, "asc" ]],
                    "columnDefs": [
            {

                "render": function ( data, type, row ) {
                    return "<a class = 'btn btn-dark' href =@routes.InventoryController.edit(0).toString.replace("0","")" +row[5]+ ">Edit</a>";
                },
                "targets": 5
            }
            //,{ "visible": false,  "targets": [ 3 ] }
        ]
                } );

                });
                </script>
}


@main("View ".concat(Option(ship.description).getOrElse("")), script) {

<p>Inventory Entries : @counts(0)</p>
<p>Product Entries : @counts(0)</p>

    <table id="example" class="table table-striped responsive-utilities jambo_table">
        <thead>
            <tr class="headings">

                <th>Product Description</th>
                <th>Product Serial</th>
                <th>Location</th>
                <th>Ship</th>
                <th>Quantity</th>
                <th class=" no-link last"><span class="nobr">Action</span>
                </th>
            </tr>
        </thead>


        <tbody>

        </tbody>
    </table>
}