@(elements: helper.FieldElements)


<div class="product form-group">
    @if(!elements.args.contains('hideIt)) {
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            @elements.label @if(elements.args.contains('required)) {
            <span class="required">*</span>
        }
        </label>
    }
    <div class="col-md-6 col-sm-6 col-xs-12">
        @elements.input
        <span class="errors_boot">@elements.errors.mkString(", ")</span>
    </div>
</div>